/* CSS Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

/**/

/* Section styling */

body {
  font-family: 'Lato';
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #5d0c5d;
  color: #e5dff5;
  padding: 0.5rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #490849;
  color: #e5dff5;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
}

main {
  background-color: #f2effa;
  min-height: calc(100vh - 4rem);
  /* Change in desktop */
}

.propiedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.main-section {
  padding: 1rem .5rem;
  max-width: 1200px;
  margin: auto;
}

/* Custom elements */

.navbar a:hover {
  color: white;
}

.nav-brand {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.25rem 0;
}

.nav-brand h1 {
  font-size: inherit;
}

.nav-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Change this for desktop*/
  width: 100%;
  padding: 0 0.5rem;
  max-width: 1200px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 300ms ease-in-out;
  font-size: 1.125rem;
}

.nav-links>a {
  margin-bottom: .5rem;
}

.nav-links.open {
  max-height: 78px;
}

.nav-links>a:hover {
  color: white;
}

.navbar-toggler {
  display: block;
}

.card {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  gap: 5px;
  width: 100%;
  height: ;
}

.card-title {
  font-size: 1.25rem;
}

.card-img {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  flex: 1;
}

.card-body {
  padding: .5rem;
}

.card-desc {
  opacity: 76%;
  margin: .5rem 0 1rem 0;
}

.card-extra {
  opacity: 87%;
}

.card-extra>p {
  padding-bottom: .5rem;
}

/* Styling classes */

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.notok {
  font-size: 0.875rem;
  font-weight: bold;
  color: #b00000;
}

.ok {
  font-size: 0.875rem;
  font-weight: bold;
  color: #008030;
}

.price {
  font-weight: bold;
  font-size: 1.25rem;
}

/* Style modifications */

h2 {
  margin: .5rem;
}

@media screen and (min-width:576px) {

  header {
    background-image: url(../img/img-main.jpeg);
    background-size: cover;
    height: 175px;
    font-size: 2rem;
    font-weight: 700;
    justify-content: flex-end;
    padding: 3rem;
    color: white;
  }

  .propiedades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: ;
  }

  .main-section {
    padding: 1rem;
  }

}

@media screen and (min-width:768px) {

  nav {
    flex-direction: row;
    justify-content: flex-start;
    align-self: baseline;
    gap: 1.5rem;
  }

  .navbar-toggler {
    display: none
  }

  .nav-links {
    flex-direction: row;
    max-height: unset;
    gap: 1rem;
  }

  .nav-links>a {
    margin: 0;
  }

  .nav-info {
    width: unset;
  }

}

@media screen and (min-width:992px) {

  .nav-brand {
    margin: .5rem;
  }

  header {
    height: 300px;
    font-size: 3rem;
  }

  .propiedades {
    grid-template-columns: 1fr 1fr 1fr;
  }

}